<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheChat</title>
    <script type="text/javascript" src="/assets/script.js"></script>
    <link rel="stylesheet" href="/assets/style.css" />
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <div class="container sidebar">
        <div id="settings">
            <p id="inp_name"></p>
            <label><input id="show_notif" checked type="checkbox" />Notifications</label>
            <button onclick="testNotify()"><i class="ri-notification-4-fill"></i></button>
        </div>
        <p id="meme_heading">Online</p>
        <div id="mems"></div>
        <div id="hidden_buttons">
            <span>=</span>
            <button class="side_button" onclick="window.location='index.html'">
                <i class="ri-refresh-line"></i>
            </button>
            <button class="side_button" onclick="checkUpdate()">
                update
            </button>
        </div>
        <div id="bottom_buttons">
            <button class="side_button" onclick="toBottom()">
                <i class="ri-align-bottom"></i>
            </button>
            <button class="side_button" onclick="eel.quit()">
                <i class="ri-logout-box-r-line"></i>
            </button>
        </div>
    </div>
    <div class="container main">
        <div id="chats"></div>
        <div id="input">
            <div id="quote"></div>
            <textarea id="msg_input"></textarea>
        </div>
    </div>
    <div id="tags_menu">
    </div>
</body>

</html>