<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TheChat</title>
        <script type="text/javascript" src="/assets/script.js"></script>
        <link rel="stylesheet" href="/assets/style.css" />
        <script
            src="https://cdn.socket.io/4.6.0/socket.io.min.js"
            integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="container sidebar">
            <div id="settings">
                <p id="inp_name"></p>
                <label
                    ><input
                        id="show_notif"
                        checked
                        type="checkbox"
                    />Notifications</label
                >
            </div>
            <p id="meme_heading">Online</p>
            <div id="mems"></div>
            <div id="hidden_buttons">
                <span>=</span>
                <button
                    class="side_button"
                    onclick="window.location='index.html'"
                >
                    reload
                </button>
                <button
                    class="side_button"
                    onclick="checkUpdate()"
                >
                    update
                </button>
            </div>
            <div id="bottom_buttons">
                <button class="side_button" onclick="toBottom()">
                    <img src="/assets/scroll_bottom.png" alt="scroll bottom" />
                </button>
                <button class="side_button" onclick="eel.quit()">
                    <img src="/assets/log_out.png" alt="logout" />
                </button>
            </div>
        </div>
        <div class="container main">
            <div id="chats"></div>
            <div id="input">
                <div id="quote"></div>
                <textarea id="msg_input"></textarea>
            </div>
        </div>
    </body>
</html>
