<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/assets/login.css" />
</head>

<body>
    <div id="window">
        <div id="title_bar">LOGIN</div>
        <div id="content">
            <label id="username">Username:</label>
            <input type="text" />
            <button class='xp_btn' id="quit" onclick="quit()">Quit</button>
            <button class='xp_btn' id="login" onclick="redir()">Login</button>
        </div>
    </div>
    <script>
        let eel;

        let init = () => {
            eel.get_hs().then((data) => {
                if (data && data != "cedcoss" && data != "ubuntu") {
                    document
                        .querySelector("#content input")
                        .setAttribute("readonly", true);
                }
                document.querySelector("#content input").value = data;
            });
        };
        function redir() {
            let inp = document.querySelector("#content input");
            let name = inp.value;
            if (name) {
                sessionStorage.setItem("username", name);
                window.location.href = "/index.html";
            } else {
                inp.style.border = "2px solid red";
            }
        }

        function quit() {
            eel.quit()
        }

        window.addEventListener("pywebviewready", function () {
            console.log("ready");
            eel = pywebview.api;
            init();
        });
    </script>
</body>

</html>